---
import Layout from "../../components/Layout.astro";
---

<Layout title="Tools – AstroN00b">
  <h1>Tools</h1>
  <p>Interactive helpers for planning radio observations and understanding the sky.</p>
  <ul>
    <li><a href="/tools/lst">Local Sidereal Time</a></li>
    <li><a href="/tools/visibility">What&apos;s Up From My Location?</a></li>
  </ul>
</Layout>


