---
import Layout from "../../components/Layout.astro";
import LSTTool from "../../components/LSTTool.astro";
---

<Layout title="Local Sidereal Time – Astron00b">
  <h1>Local Sidereal Time</h1>
  <p>Use this tool to find the local sidereal time (LST) at your location. LST tells you which right ascensions are currently on your local meridian.</p>
  <LSTTool />
</Layout>


