---
import Layout from "../../components/Layout.astro";
---

<Layout title="What&apos;s Up From My Location? – Astron00b">
  <h1>What&apos;s Up From My Location?</h1>
  <p>This tool will show bright, beginner-friendly radio sources that are currently above your horizon.</p>
  <!-- VisibilityTool component will be added here later -->
</Layout>


