---
import Layout from "../components/Layout.astro";
---

<Layout title="About – Astron00b">
  <h1>About Astron00b</h1>
  <p>Astron00b is an educational project about radio astronomy, built by a fellow learner and shaped by input from experts and the wider community.</p>
</Layout>


