---

import Layout from "../components/Layout.astro";
---

<Layout title="AstroN00b – Radio Astronomy for Beginners">
  <h1>Astron00b</h1>
  <p>Radio astronomy for curious beginners. Learn along with me as we build H&nbsp;I scopes, explore the sky, and grow a community.</p>
</Layout>

