---
export const prerender = true;

import Layout from "../components/Layout.astro";
---

<Layout title="Start Here – AstroN00b">
  <h1>Start Here</h1>
  <p>Welcome to Astron00b. This is a beginner-friendly path into radio astronomy, focused on building simple H&nbsp;I scopes and learning the sky.</p>
</Layout>


